numpy==1.26.4
langgraph
langchain
langchain-openai
langchain-core
langchain-community
langchain-experimental
langchain-huggingface
faiss-cpu
fastapi
uvicorn
pydantic
python-dotenv
python-multipart
pypdf
cloudinary
duckduckgo-search
sentence-transformers
rank_bm25
psycopg2-binary
aiokafka
asyncio
jsonref
docx2txt
